.container_id{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
.container_id_detail .container_id_description a{
    text-decoration: none;
    padding:0.5em 30px;
    border-radius: 15px ;
    color: #fff;
}
.container_id_detail .container_id_description div{
    margin: 20px;
}
#red .container_id_detail .container_id_description a {
    background: #b90505;
}
#red .container_id_detail .container_id_description a:hover{
    background: #cf2e2e;
}
#orange .container_id_detail .container_id_description a{
    background: #b94d05;
}
#orange .container_id_detail .container_id_description a:hover{
    background: #c56728;
}
#purple .container_id_detail .container_id_description a{
    background: #5c0368;
}
#purple .container_id_detail .container_id_description a:hover{
    background: #81248d;
}
#grass{
    background: #036103;
}
#fire{
    background: #ff3300;
}
#water{
    background: #0099ff;
}
#electric{
    background: #ffff00;
}
#ground{
    background: #a55b2a;
}
#rock{
    background: #bba543;
}
#steel{
    background: #8a8787;
}
#poison{
    background: #580258;
}
#psychic{
    background: #cf5adf;
}
#fighting{
    background: #ad1c1c;
}
#fairy{
    background: #fa8de2;
}
#ghost{
    background: #411e6e;
}
#bug{
    background: #06b606;
}
#flying{
    background: #79eff3;
}
#ice{
    background: #b8e4f3;
}
#normal{
    background: grey;
}
#dark{
    background: #272727;
}
.container_id_detail{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container_id_img img{
    width: 450px;
    margin: 30px;
}