.container_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.container_nav_home a{
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
}
.container_nav input{
    height: 80%;
    border-radius: 15px;
    margin: 5px;
}
#red .container_nav{
    background: #b90505;
}
#orange .container_nav{
    background: #b94d05;
}
#purple .container_nav{
    background: #5c0368;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav_menu{
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    transition: 850ms;
}
