.card_pokemons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0px;
    width: 320px;
    border-radius: 15px;
    margin: 20px;
}
#red .card_pokemons{
    background: #f74646;
}
#orange .card_pokemons{
    background: #f79c46;
}
#purple .card_pokemons{
    background: #a746f7;
}
.card_img{
    /* height: 280px; */
    max-width: 233.23px;
    min-width: 280px;
    overflow: hidden;
    border: 1px solid #222;
}
.card_img img{
    width: 100%;
    height: 280px;
    /* object-fit: cover; */
    /* border-radius: 50%; */
}