.container_paginado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 70px;
    width: 100%;
    position: sticky;
    bottom: 0px;

}
.paginado_numero{
    margin: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
}
#red .container_paginado .paginado_numero{
    background: #b90505;
}
#red .container_paginado .paginado_numero:hover{
    background: #cf2e2e;
}
#orange .container_paginado .paginado_numero{
    background: #b84900;
}
#orange .container_paginado .paginado_numero:hover{
    background: #c56728;
}
#purple .container_paginado .paginado_numero{
    background: #5c0368;
}
#purple .container_paginado .paginado_numero:hover{
    background: #81248d;
}